<div class="card">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item form-inline">
                <input *ngIf="!conectado" type="text" name ="username" [(ngModel)]="mensaje.username"
                    class="form-control" placeholder="nombre usuario..."  autocomplete="off" />
                <button *ngIf="!conectado" [disabled]="!mensaje.username" class="btn btn-success" type="button" (click)="btnConectar()" >
                    Conectar
                </button>
                <button *ngIf="conectado" class="btn btn-warning" type="button" (click)="btnDesconectar()">
                    Desconenctar
                </button>
            </li>
        </ul>
    </div>
    <div #scrollChat [scrollTop]="scrollChat.scrollHeight" class="card-body" style="overflow-y: scroll; height: 360px;">
        <ul class="list-group">
            <li class="list-group-item list-group-ligth" *ngFor="let mensaje of mensajes">
                <span *ngIf="mensaje.tipo=='new_mensaje'">{{mensaje.fecha | date: "shortTime"}} - <span [ngStyle]="{'color': mensaje.color}" style="font-weight: bold;">{{mensaje.username}}</span> Dice:<br />{{mensaje.texto}}</span>
                <span *ngIf="mensaje.tipo=='new_user'">Se conecto <span style="font-weight: bold;"  [ngStyle]="{'color': mensaje.color}" >{{mensaje.username}}</span></span>
            </li>
        </ul>
    </div>
    <div class="card-footer">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" name="texto" [(ngModel)]="mensaje.texto"
                (keyup)="eventTextoKeyUp()" class="form-control" placeholder="Escribe un mensaje..." />
            </div>
            <button *ngIf="conectado" (click)="btnEnviarMensaje()" type="submit" class="btn btn-primary">
                Enviar
            </button>
        </form>
        <div>{{actualMenteEscribiendo}}</div>
    </div>
</div>
